.container {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 999999;
  transition: all 0.3s ease;
}

/* search Section */

.frame {
    background-color: #1d1e61;
    height: 83px;
    width: 370px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    transition: all 0.3s ease;
  }
  
  
  .frame .overlapGroup {
    background-color: #ffffff;
    border-radius: 10px;
    height: 33px;
    left: 24px;
    position: absolute;
    top: 27px;
    width: 265px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15),
                0 6px 12px rgba(0, 0, 0, 0.12),
                0 4px 6px rgba(0, 0, 0, 0.10);
    transition: all 0.3s ease;
  }

  @media (max-width:600px) {
    .frame {
      width: 300px;
    }
    .frame .overlapGroup {
      width: 200px;
    }
  }
  
  .frame .textWrapper {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 11px;
    font-weight: 700;
    left: 12px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 9px;
    white-space: nowrap;
    width: 127px;
    transition: all 0.3s ease;
  }

  .frame .overlapGroup input {
    border: none;
    width: 80%;
    height: fit-content;
    font-size: 11px;
    transition: all 0.3s ease;
  }
  
.frame .overlapGroup input:focus {
    border: none;
    outline: none;
    transition: all 0.3s ease;
}

  .frame .vector {
    height: 27px;
    left: 315px;
    position: absolute;
    top: 28px;
    width: 28px;
    transition: all 0.3s ease;
  }

  .containerCards {
    position: absolute;
    padding: 1rem;
    background-color: white;
    height: 25rem;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: hidden;
    border-radius: 10px;
    top: 100;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15),
    0 6px 12px rgba(0, 0, 0, 0.12),
    0 4px 6px rgba(0, 0, 0, 0.10);
    transition: all 0.3s ease;
  }
  
.containerCardWraper {
  display: flex;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 
              0 6px 6px rgba(0, 0, 0, 0.15);
  padding: .7rem;
  border-radius: 15px;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.containerCardWraper:hover {
  scale: 1.01;
}

  .containerCardWraper p {
      font-size: .5rem;
      transition: all 0.3s ease;
  }

  .containerSearchWord {
    display: flex;
    position: absolute;
    top: 4px;
    left: 50px;
    padding: .1rem;
    gap: 1rem;
    transition: all 0.3s ease;
  }

  .containerSearchWord p  {
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 15px;
    padding: .1rem;
    padding-left: .5rem;
    padding-right: .5rem;
    transition: all 0.3s ease;
  }

  .wraperContainer {
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
  }