.containerHeaderTittle {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: fit-content;
    margin-top: 1rem;

}

.containerHeaderTittle h2 {
    color: #000;
    font-size: 45px;
    font-style: normal;
    line-height: normal;
}

.containerHeaderTittle h4 {
    font-size: 22px;
    width: 60%;
  
}


@media (max-width:700px) {
        .containerHeaderTittle h2 {
            font-size: 35px;
        }
        .containerHeaderTittle h4 {
            font-size: 15px;
          
        }
        .containerHeaderTittle h4 {

            width: 100%;
          
        }
        
    }

