.containerHeaderTittle {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 88px;
    margin: 0 auto;
}

.containerHeaderTittle h2 {
    color: #000;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.containerHeaderTittle h4 {
    font-size: 20px;
}