.navigationWraper {
    background-color: #FED357;
    height: 83px;
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    scroll-snap-align: start;
    z-index: 999999999;
}

.NavigationButton button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 13.5px;
    color: black;
    margin: 0 1rem;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.3s ease-in;
  
}
.NavigationButton button:hover {
  border-bottom: 1px solid black;
  transition: all 0.3s ease-in;
}
.NavigationButton button:active,
.NavigationButton button.active {
  border-bottom: 2px solid black;
  color: #1d1e61;
  font-weight: 700;
  transform: scale(1.05);
  transition: all 0.2s ease-out;
}
.buttonNavigations {
    display: flex;
    align-items: center;
    height: 100%;
}

/* search Section */

.frame {
    background-color: #1d1e61;
    height: 83px;
    position: relative;
    width: 370px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  
  
  .frame .overlapGroup {
    background-color: #ffffff;
    border-radius: 10px;
    height: 33px;
    left: 24px;
    position: absolute;
    top: 27px;
    width: 265px;
  }

  @media (max-width:600px) {
    .frame {
      width: 300px;
    }
    .frame .overlapGroup {
      width: 200px;
    }
  }
  
  .frame .textWrapper {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 11px;
    font-weight: 700;
    left: 12px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 9px;
    white-space: nowrap;
    width: 127px;
  }

  .frame .overlapGroup input {
    border: none;
    width: 80%;
    height: fit-content;
    font-size: 11px;
  }
  
.frame .overlapGroup input:focus {
    border: none;
    outline: none;
}
  .frame .vector {
    height: 27px;
    left: 315px;
    position: absolute;
    top: 28px;
    width: 28px;
  }
  