.wraperContainer {
    display: flex;
    align-items: center;
    scroll-snap-align: start;
    height: 100vh;
   
}

@media (max-width: 768px) {
    .wraperContainer {
        flex-direction: column;
        justify-content: center;
        width: 90%;
        margin: 0 auto;
        gap: 1rem;
    }
}
.containerTittle {
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;

}


.containerCards {
    display: grid;
    grid-auto-rows: 25rem;
    gap: .3rem;
    grid-template-columns: repeat(auto-fill, minmax(min(100%,15rem), 1fr));
    width: 100%;
    margin: 0 auto;
  

    

}

.containerCards .card {
    background-color: transparent;
    position: relative;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   height: 100%;
   justify-content: space-between;
   width: 100%;
   overflow: hidden;
   border-radius: 36px;

   ;
}
.contentName {
    display: flex;
    gap: 1rem;
    color: white;
    padding: 2rem;
    flex-direction: column;
}

.contentButtons {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
}
.contentButtons .informationExtra {
    display: flex;
    background-color: white;
    border-radius: 35px;
    width: fit-content;
    height: 25px;
    overflow: hidden;
    padding: 0rem 1rem 0rem 1rem;
    justify-content: center;
    align-items: center;
}
.contentButtons button {
    background-color: white;
    border: none;
    color: black;
    border-radius: 50px;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.containerCards .card h2 {
    color: aliceblue;
    font-size: 24px;
    width: 65%;
    text-transform:capitalize;
}
.wraper {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(35, 56, 85, 0.61);
    top: 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: -1;
    border-radius: 22px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


